services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jhvue
    restart: unless-stopped
    expose:
      - "80"
    labels:
      - coolify.managed=true
    networks:
      - coolify

networks:
  coolify:
    external: true
